*DS_Store
.vs/
.vscode/
.idea/
/.env
/env/
/env/*
/textfile_collector/*
/alertmanager/slack_webhook_url
/alertmanager/alert_ack_token
/secrets/
/secrets/*
/prometheus/prometheus.yml
__pycache__
*.pyc
.pytest_cache/
